@model FundPortfolio.ViewModels.NotificationViewModel

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>New Notification</h2>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default active">
		<input type="radio" name="type" id="ChangeNotification" autocomplete="off" checked> Notify When Fund Changes In Time period
	</label>
	<label class="btn btn-default">
		<input type="radio" name="type" id="ValueNotification" autocomplete="off"> Notify When Fund reaches a Certain Value
	</label>
</div>

<div id="ChangeForm">
	@Html.Partial("_CreateChange", Model.ChangeNotification)
</div>
<div id="ValueForm">	
	@Html.Partial("_CreateValue", Model.ValueNotification)
</div>


<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$(function () {
			$("#ValueForm").hide();
			$(document.getElementsByName("type")).on('change', function (e) {
				$("#ValueForm").toggle();
				$("#ChangeForm").toggle();
			});

		})

	</script>
}
