@{
    ViewBag.Title = "Home Page";
}
<div class="section hcenter">
    <h1>Welcome to FundTracker!</h1>

    <p>
        <font size="5">
            We track mutual funds allowing you to:
            <br />&nbsp&nbsp&nbsp* See fund performance history
            <br />&nbsp&nbsp&nbsp* Simulate your own investments
            <br />&nbsp&nbsp&nbsp* Receive custom notifications
        </font>
    </p>
</div>
