@{
    ViewBag.Title = "Home Page";
}
<div class="section hcenter htwo">
    <div class="hcenter medium-padding">
        <h1>Welcome to FundTracker!</h1>

        <p class="medium-padding">
            <font size="5">
                We track mutual funds allowing you to:
                <br />&nbsp&nbsp&nbsp* See fund performance history
                <br />&nbsp&nbsp&nbsp* Simulate your own investments
                <br />&nbsp&nbsp&nbsp* Receive custom notifications
            </font>
        </p>
    </div>
</div>
