@{
    ViewBag.Title = "Home Page";
}
<h1 class="page-header">Welcome to FundTracker!</h1>

<p class="medium-padding">
    We track mutual funds allowing you to:
    <br />&nbsp&nbsp&nbsp* See fund performance history
    <br />&nbsp&nbsp&nbsp* Simulate your own investments
    <br />&nbsp&nbsp&nbsp* Receive custom notifications
</p>

