@model Common.Models.Report

<table id="fundDataTable" class="table">
    <thead>
        <tr>
            @foreach (var item in Model.Headers)
            {
                <th>
                    @item
                </th>
            }
        </tr>
    </thead>
    
    <tbody>
        @* Iterate over date range *@
        @{
            for (int i = 0; i < Model.Data[0].Count; i++)
            {
                <tr>
                    @foreach (List<String> vals in Model.Data)
                    {
                        <td>
                            @vals[i]
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<div id="predictionNote" style="display:none;">* Predicted Value</div>

<script>
    // Should we show the prediction note?
    if (new Date() < new Date($('#fundDataTable tbody tr:first-child td:first-child')[0].innerText)) {
        $('#predictionNote').show();
    }    

    $('#fundDataTable tbody td:first-child').each(function (e) {
        // if prediction
        if ((new Date()) < new Date(this.innerText)) {
            $(this).parent().find('td:not(:first-child)').each(function (e) {
                this.innerText += "*";
            });
        }
    });
    
</script>
