
@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
	<h1 class="page-header">@ViewBag.Title</h1>
	Email is in use. Login using your password for this site and click on your email to manage you account and add an external login
</hgroup>

