@model Common.Models.Report

@{
        ViewBag.Title = "Report";
}

<div class="graph">
    <br />
    Graph here
    <br />
</div>

<br />
<button name="export"> Export data to .csv file </button>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            @foreach (var item in Model.FundNames)
            {
                <th>
                    @item
                </th>
            }
        </tr>
    </thead>

    <tbody>
        @* Iterate over date range *@
        @{
            for (int i = 0; i < Model.Dates.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Dates[i].Date
                    </td>
                    @foreach (List<String> vals in Model.FundsData)
                    {
                    <td>
                        @vals[i]
                    </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>